:target {
    /* Fixing Bootstrap fixed navbar */
    padding-top: 80px;
    margin-top: -80px;
}

iframe {
    border-style: none;
}

@media only screen and (max-width: 750px) {
    #healthBody {
        width: 750px;
    }
    section {
        padding: 0 !important;
    }
}
