:target {
    /* Fixing Bootstrap fixed navbar */
    padding-top: 80px;
    margin-top: -80px;
}

.modal-dialog {
    margin: 15% auto;
    max-width: 100%;
}

.video-column {
    position: relative;
}

.video-overlay {
    z-index: 10;
    position: absolute;
}