:target {
  /* Fixing Bootstrap fixed navbar */
  padding-top: 80px;
  margin-top: -80px;
}

iframe {
  border-style: none;
}

.hero-staff-parallax {
  background-attachment: fixed;

  background-image: url("static/nurse-group-main.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: -10vh;
  background-repeat: no-repeat;

  min-height: 70vh;
}

.hero-staff {
  background-image: url("static/nurse-group.jpg");
  background-size: contain;
  background-position-x: center;
  background-position-y: 1vh;
  background-repeat: no-repeat;

  min-height: 60vh;
}

.jumbotron {
  padding-bottom: 3rem;
}

.jumbo-text-container {
  background-color: #000000aa;
  border-radius: 1rem;
  padding: 1rem 2rem;
  align-self: center;
}

.title {
  font-family: "Overlock", cursive;
}

@media only screen and (max-width: 750px) {
  #healthBody {
    width: 750px !important;
  }
  #healthSection {
    width: 750px !important;
    padding: 0 !important;
  }
  #healthAnnouncements {
    overflow: hidden;
  }

  .hero-staff {
    background-position-y: 15%;
    min-height: 40vh;
  }

  .hide-mobile {
    display: none;
  }

  .hero-staff h1 {
    margin-bottom: 0.1rem !important;
  }

  .jumbotron {
    padding-bottom: 0rem;
  }

  .jumbo-text-container {
    width: 100%;
    border-radius: 0rem;
    background-attachment: scroll;
  }
}
